<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <meta charset="UTF-8">

    <title>Registration</title>
</head>
<body>
<th:block th:each="msg : ${usernameError}">
    <h1 th:text="${msg}"></h1>
</th:block>
<div>
    <form th:method="POST" th:action="@{/registration}" th:object="${userForm}">
        <label for="firstName">Enter First name: </label>
        <input type="text" th:field="*{firstName}" id="firstName"/>
        <br/>
        <label for="lastName">Enter Second name: </label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <br/>
        <label for="age">Enter Age: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <br/>
        <label for="email">Enter Email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/>
        <label for="password">Enter password: </label>
        <input type="password" th:field="*{password}" id="password"/>
        <br/>
        <label for="confirm">Confirm password: </label>
        <input type="password" th:field="*{confirm}" id="confirm"/>
        <br/>

        <input type="submit" value="Registr!"/>
    </form>

</div>
</body>
</html>