<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <meta charset="UTF-8">

  <title>Hello</title>
</head>
<body>
<div>

  <form th:method="GET" th:action="@{/roles/user}">
    <input type="submit" value="Creat ROLE_USER"/>
  </form>
  <p></p>
  <form th:method="GET" th:action="@{/roles/admin}">
    <input type="submit" value="Creat ROLE_ADMIN"/>
  </form>
<p></p>
  <a th:href="@{/}">Index page</a>

</div>
<br>
<hr/>
<hr/>
<a th:href="@{/admin/new}">Creat new user</a>
<p></p>
<a th:href="@{/logout}">Logout</a>

</body>
</html>